* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #ff0000;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #1c6300;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #faf600;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin: 20px 0;
}

.post {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-bottom: 10px;
    color: #2980b9;
    font-size: 1.8em;
}

.post p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.post img {
    align-items: center;
    border-radius: 8px;
}

.risk-images img {
    width: 49%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ecf0f1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 1em;
}

nav ul li strong {
    color: #ff0000;
}

ul li strong {
    display: block;
    color: #2980b9;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #2980b9;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    background-color: #faf600;
    margin: 6px 15px;
}

nav ul li a {
    color: #ff0000;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive menu styles */
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-left: 4%;
        margin-top: -9%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav li {
        text-align: center;
        padding: 10px 0;
    }
}

section {
    padding: 100px 20px;
    margin-top: 60px; /* Considerando o cabeçalho fixo */
}
